input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
}
.scroll-overflow
{
    overflow: scroll;
}
.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav .navbar-font {
    padding: 10px 17px;
    color:white;
    font-size:20px;
    line-height: 25px;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

.navbar-default .navbar-nav li a:focus {
    color:blanchedalmond;
    font-size:20px;
}

.navbar-default .navbar-nav li a:hover {
    color:lightskyblue;
    font-size:22px;
}

.navbar-default .navbar-brand:focus {
    color:blanchedalmond;
    font-size:20px;
}

.navbar-default .navbar-brand:hover {
    color:lightskyblue;
    font-size:22px;
}

.list-group-item {
    border: none;
}

.divider-right {
    border-right: 1px solid lightgray;
    -webkit-border-vertical-spacing: 20px;
    margin-top: -45px;
    height: 100vh;
}

.relative-position {
    position: relative;
}

.list-element-menu {
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: 10;
    background-color: white;
}