<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="navbar-font"
                   href="../website/website-list.view.client.html"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a class="navbar-font" href="#">Pages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="page-new.view.client.html"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Blog Post</a>
            <a href="page-edit.view.client.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Blogs</a>
            <a href="page-edit.view.client.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Home</a>
            <a href="page-edit.view.client.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">About</a>
            <a href="page-edit.view.client.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Contact Us</a>
            <a href="page-edit.view.client.html" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="../user/profile.view.client.html"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>